<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application
        android:allowBackup="false"
        android:label="Milky Way (KMP)"
        android:theme="@style/Theme.AppCompat.NoActionBar"
        android:fullBackupContent="false">
        <activity
            android:name="de.hanno_rein.mw.MainActivity"
            android:exported="true"
            android:screenOrientation="behind"
            android:configChanges="orientation|screenSize|keyboardHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <uses-native-library android:name="libEGL_angle.so" android:required="false" />
        <uses-native-library android:name="libGLESv2_angle.so" android:required="false" />
    </application>
</manifest>
